@media screen and (min-width: 45rem) {
    nav {
        flex-direction: row;
        text-align: center;
    }

    nav a {
        margin: auto 0.5rem ;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
    }

    section {
        box-shadow: 3px 5px 10px rgba(27, 102, 27, 0.26);
    }

    .full-width {
        grid-column: span 4;
    }

    .img-100 {
        grid-column: span 3;
    }

    .span-1 {
        grid-column: span 1;
    }
}