@media screen and (min-width: 45rem) {
  header button {
    margin: 1rem 1rem;
  }

  header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  nav a {
    margin: auto 0.5rem;
  }

  #menu-button {
    display: none;
  }

  main {
    grid-template-columns: repeat(4, 1fr);
  }

  section {
    box-shadow: 3px 5px 10px rgba(27, 102, 27, 0.26);
  }

  .spotlight {
    grid-column: span 2;
  }

  .full-width {
    grid-column: span 4;
  }

  .img-100 {
    grid-column: span 3;
  }

  .span-1 {
    grid-column: span 1;
  }

  .span-2 {
    grid-column: span 2;
  }

  .span-3 {
    grid-column: span 3;
  }

  .events {
    grid-template-columns: repeat(2, 1fr);
  }

  article {
    text-align: left;
    display: grid;
    justify-items: start;
  }

  .news {
    grid-template: 1fr 4fr/1fr 2fr;
  }
  
  article h4 {
    font-size: 1.6rem;
  }
  
  .events article img {
    width: 150px;
    grid-row: span 2;
    padding: 0.5rem;
  }

  article button {
    grid-column: 2/3;
  }

  .sidebar {
    grid-column: span 1;
  }

  .photo-grid {
    grid-column: 2/-1;
    grid-row: 1/-1;
    grid-template-columns: repeat(2, 1fr);
  }

  .photo-grid img:hover {
    box-shadow: 0px 0px 8px var(--secondary-color);
    transform: scale(1.05);
  }

  .photo-grid p {
    font-family: var(--serif-font);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.75rem;
    color: var(--black);
  }

  .membership {
    grid-template-columns: 1fr 1fr;
  }

  .form {
    order: 0;
  }

  .grid-view {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))!important;
    gap: 1rem;
  }

  .member-card img {
    width: 300px;
  }
  .member-card {
    min-width: 400px;
  }

  #change-view {
    display: block;
    border: none;
    padding: 1rem;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    top: 4rem;
    right: 2rem;
  }
  
  #change-view:hover{
    background-color: var(--secondary-darker);
  }
  
  #change-view:focus {
    background-color: var(--black);
  }
}
